.main-doc {
  display: flex;
  height:100vh;
}

.main-content {
  display: flex;
  flex: 1 80%;
  flex-direction: column;
  overflow: auto;
}  
  
.main-section {
  margin-top: 1%;
  margin-left: 20px;
}

.nav-bar {
  display: flex;
  flex: 1 20%;
  
  flex-direction: column;
  
}

.nav-link {
  
  border: 1px solid black;
  background-color: rgb(169,169,169);
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: black;
 
}
.title {
  width: 100%;
  padding: 15px;
  background-color: rgb(220, 220, 220);
  font-size: 30px;
  font-family: "Acme", sans-serif;
  font-family: "Anton", sans-serif;
  font-family: "Rubik", sans-serif;
}
.code{
  background-color: rgb(220, 220, 220); 
  color: blue;
  width: 100%;
  padding: 10px;
}
.semi-title{
  font-size: 25px;
  font-family: 'Merienda', cursive;
}  

@media (max-width: 800px) {
  body {
    max-width: 100%;
    height: auto;
  }
}
